<div class="col">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="text-decoration-none">
        <div class="card">
        <img src="{{ partial "helpers/get-hero.html" . }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text text-black">{{ .Description }}</p>
        </div>
        <div class="card-footer">
            <span class="float-start">{{ if .Lastmod }}
                <p>Mis à jour : {{ partial "helpers/lastmod.html" . }}</p>
                {{ else }}
                <p>Publié : {{ partial "helpers/date.html" . }}</p>
                {{ end }}
            </span>
            <a href="{{ .RelPermalink }}" title="Lire" class="float-end btn btn-outline-primary btn-sm">Lire</a>
          </div>
        </div>
    </a>
</div>
