<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">

      <div class="col-12 col-lg-5 text-center mb-3">
        <picture>
          <source media="(max-width: 990px)" type="image/webp" srcset="/images/sections/dashboard-ha-200px.webp">
          <source media="(min-width: 991px)" type="image/webp" srcset="/images/sections/dashboard-ha-300px.webp">
          <img src="/images/sections/dashboard-ha-200px.webp" alt="Tableau de bord Home Assistant" title="Tableau de bord Home Assistant" width="auto" height="auto">
        </picture>
      </div>

      <div class="col-12 col-lg-7 text-center">
        <h2 class="fs-2 text-secondary">{{ .name }}</h2><p class="fs-4 fst-italic text-primary">{{ .subtitle }}</p>
        {{ range .summary }}
        <p>
          {{ .description | markdownify }}
        </p>
        {{ end }}

        <div class="col-12 text-center">
          <ul class="list-inline">
            {{ range .socialLinks }}
            <li class="list-inline-item">
              {{ if eq .name "Email" }}
                <a href="mailto:{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ else if eq .name (i18n "phone") }}
                <a href="tel:{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ else }}
                <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>

      <div class="col-12 text-center  order-last">
        {{ range .button }}
        <a class="btn btn-primary" href="{{ .url }}" role="button">{{ .name }}</a>
        {{ end }}
      </div>

    </div>
  </div>
</section>