<section class="bg-light py-5">
<div class="container">
  <div class="row justify-content-evenly">
    <h2 class="text-center text-secondary pb-2">HACF en dates</h2>
  {{ range .historique }}
    <div class="col-5 border border-primary rounded m-1">
      <div class="row align-self-center pt-3 bg-secondary bg-opacity-50">
        <div class="col-1">
          <span class="badge rounded-pill bg-primary text-start">{{ .number }}</span>
        </div>
        <div class="col-6">
          <h5 class="text-center">{{ .name }}</h5>
        </div>
        <div class="col-5">
          <p class="text-primary text-end">{{ .date }}</p>
        </div>
      </div>
      <div class="row">
          <div class="text-center">
            {{ .description | markdownify }}
          </div>
      </div>
    </div>
  {{ end }}
  </div>
</div>
</section>
