{{/* Verifie s'il y a un fichier hero dans le meme dossier que le fichier Markdown */}}
{{ $heroImage := .Page.Resources.GetMatch "hero.{jpg,png,svg,webp}"}}

{{/*  Si une image Hero est specifié dans le Front Matter alors il utilise celle-ci  */}}

{{ if .Params.hero }}
  {{ $heroImage = .Page.Resources.GetMatch .Params.hero }}

  {{/* Doit récuperer une image par defaut */}}
  {{/* else }}
  {{ $heroImage := "images/article-hacf-vierge.webp" */}}

{{ end }}

{{ .Scratch.Set "heroScratch" $heroImage }}
{{ $heroImage := .Scratch.Get "heroScratch" }}

{{/* NE MARCHE PAS Redimenssionner l'image Hero sauf si elle est en SVG */}}
{{ if and $heroImage (ne $heroImage.MediaType.SubType "svg") }}
  {{ $heroImage := $heroImage.Resize "148x" }}
{{ end }}

{{/*  Il renvoit le lien de l'image  */}}
{{ return $heroImage.RelPermalink }}